In [13]:
import numpy.random as random
import pandas as pd

In [10]:
def random_list(start,stop,length):
    if length >=0:
        length = int(length)
    start, stop = (int(start), int(stop)) if start <= stop else (int(stop), int(start))
    random_list = []
    for i in range(length):
        random_list.append(random.randint(start, stop))
    return random_list

In [11]:
random_list(100000,1000000,10)

[9728, 3081, 4218, 4456, 5565, 2813, 8016, 5876, 5232, 4493]

In [19]:
dataTest = {'國家':['Taiwan'] ,
        '人口': [1000000] }
dataFrameTest = pd.DataFrame(data)

In [20]:
dataFrameTest

       國家       人口
0  Taiwan  1000000

In [22]:
data = {'國家':['Taiwan','Japan','Singapore','Korea','Germany'] ,
        '人口': random_list(100000,1000000,5) }
dataFrame = pd.DataFrame(data)

In [23]:
dataFrame

          國家      人口
0     Taiwan  927745
1      Japan  273289
2  Singapore  314835
3      Korea  581459
4    Germany  318267